@font-face{
    src: url(multimedia/BelweBold.otf);
    font-family: Belwe;
}
  

/* Fotos */

.card-img-top{
   
}
.imagenProducto{
        
}




.imagen{
        
        
    text-align: center;
    padding-bottom: 2.5vw;
    position: relative;

}
.imagen img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: relative;
    


}

/* Navbar */

.carrito{
    margin-left: 0;
    padding-left: 0%;
    margin: 0;
        }

.bi{
   padding: 0;
   margin: 0 ;

}

.navbar-brand{
    height: 3vw;
    width: 3vw;
}

.contenedor{
    position: absolute;
    
}


.card-title{
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
}

.card-text{
    text-align: center;
    margin: 0.5vw;
}

.card{
    
    box-shadow: 0 15px 25px rgba(62, 50, 50, 0.2);
    backdrop-filter: blur(100px);
    background-color: rgba(62, 36, 36, 0.1);
}

.card-body{
    padding: 0%;
}
.navbar{
    
    
    color: black;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color:   rgba(64, 65, 89, 0.434);

}



.footer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    font-family:Belwe;
    
 
}

.bi{

    margin-left: 0vw;
    margin-right: 0vw;
}

.text-dark{
    text-decoration: none;
}


.btn-primary{
    background-color: rgb(82, 82, 80);
    border-color: black;

}

.centered {
    position: absolute;
    font-size:10vw;
    color: rgb(184, 184, 105);
    top: 27vw;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

 

  
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7vw;
    padding-left: 7vw;
}

.dropdown-menu{
    display: none;
    position: absolute;
}

.dropdown-menu li{
    display: block;
    background-color: aliceblue;
}

#cards{
    display: inline;
}




/* ANimacion*/

#filters{
    height: 0vw;
    width: 0;
    padding: 0;
    margin: 0;
}



#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 20vw;
    top: 32vw;
    left: 50vw;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;


    
    font-size: 10vw;

    text-align: center;

    user-select: none;
}


:root{
    --main-bg:#e91e6;
  }
  
  .main-bg {
    background: var(--main-bg) !important;
  }
  
  input:focus, button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
  }
  
  .form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
  }
  
  .card, .btn, input{
    border-radius:0 !important;
  }
  
.contenedorlogin{
    position: relative;
    width:100%;
    height:10em;
    width: 100vw;
    height: 50vw;
    
}


#loginn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
}


.login1{
    background-color: aliceblue;
    padding: 1vw;
    
}

.d-grid{
    background-color: black;
}







/* ANimacion Card*/

